:root {
  /* Design de la page */
  --background-color: rgb(210, 238, 220);
  /* TODO changer font*/
  --counter-font: 'Mood';

  /* Design de la grille */
  --grid-background-color-pair: rgb(255, 255, 255);
  --grid-background-color-odd: rgb(255, 255, 255);
  --grid-border-color: rgb(41, 41, 41);
  --grid-tile-background-color: rgb(63, 212, 88);
  
  --grid-border-radius: 5px;

  /* Design des drapeaux */
  --flag-background-color: rgb(210, 71, 71);

  /* Design du timer */
  --timer-background-color: rgb(71, 106, 210);
}

@font-face {
  font-family: MOOD;
  src: url("./fonts/MOOD.ttf");
}

@font-face {
  font-family: MOOD_ct;
  src: url("./fonts/MOOD_ct.ttf");
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--font);
  padding-bottom: 200px;
}

#logo {
  margin-top: 25px;
  width: 15rem;
  pointer-events: none;
}

#score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 25px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 5px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
}

#time-counter, #flag-counter {
  font-family: MOOD_ct;
  font-size: 2.5rem;
}

#time-counter {
  color: var(--timer-background-color);
}

#reset-button {
  font-family: MOOD;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--flag-background-color);
  color: white;
  border: none;
  cursor: pointer;
}
#reset-button:hover {
  background-color: rgb(210, 71, 71, 0.8);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#reset-button>img {
  vertical-align: middle;
  margin-right: 5px;
  filter: brightness(1000%);
}

#grid-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

table {
  border-radius: var(--grid-border-radius);
}

table, tr, td {
  position: relative;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

td {
  width: clamp(20px, 5vw, 50px);
  height: clamp(20px, 5vw, 50px);
}


.cell-button {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--grid-tile-background-color);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: var(--grid-border-radius);
}

.cell-button:hover {
  background-color: rgb(89, 196, 107, 0.5);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#score-flag {
  position: relative;
  z-index: 10;
  width: 5px;
  height: 28px;
  border-radius: 5px;
  background-color: var(--flag-background-color);
  pointer-events: none;
}
#score-flag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid var(--flag-triangle-color, white); 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 2px;
}

.flag {
  position: relative;
  z-index: 10;
  width: 5px;
  height: clamp(40%, 80%, 90%);
  border-radius: 5px;
  background-color: var(--flag-background-color);
  pointer-events: none;
}

.flag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid var(--flag-triangle-color, white); 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 2px;
}

@media screen and (max-width: 730px) {
  .flag::after {
    border-left: 15px solid var(--flag-triangle-color, white); 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}
@media screen and (max-width: 530px) {
  .flag::after {
    border-left: 10px solid var(--flag-triangle-color, white); 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
}